body {
    background-color: black;
    display:flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;;
}
.box {
    width: 561.41px;
    height: 625px;
    border-radius: 27.41px;
    background-color: white;
}
.box-two {
    width: 561.41px;
    height: 0px;
    border-top: 1.79px solid rgba(203, 208, 220, 1);
    margin-top:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.content {
    width:508.97px;
    height:255.08px;
    border-radius:15.5px;
    border: 2.38391px dashed rgba(203, 208, 220, 1);
    margin-top: 310px;
}
.drag-drop {
    margin-top:30px; 
    margin-left:35%; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    width:137.67px; 
    height:40.53px;
    border-radius:9.54px; 
    border:1.19px solid rgba(203, 208, 220, 1);
    cursor: pointer;
}

.previewContainer {
    margin-top: 300px;
    margin-left: 25px;
    width: 508.97px;
    height: 120.39px;
    border-radius: 15.5px;
    background-color: rgba(238, 241, 247, 1);
    display: none;
}